/*
 *    CSS styles for the general chat application, including any global styles
 *    or any styles that are specific to this scope of the application.
 */

body {
    scrollbar-width: auto;
    scrollbar-color: #beffc6, #363f3a;
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: #363f3a;
}

body::-webkit-scrollbar-thumb {
    background-color: #beffc6;
    border-radius: 8px;
    border: 3px solid #363f3a;
}
