/*
 *    
 *    Author: Lachlan Paul, 2023
 */

 .mdouter {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    margin: auto;
    padding: 12px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mdinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181a1b;
    color: white;
    border-radius: 10px;
    padding: 12px;
    width: fit-content;
    height: fit-content;
}